﻿<html>
<head>
    <title>страница</title>
</head>

<body>

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.js")" type="text/javascript"></script>
    



    <script type="text/javascript">

       
        var url_Tree = "@Url.Content("~/snapshot/")";
        var wellPath = getUrlParameter('wellPath');
        var parameterPath = getUrlParameter('parameterPath');

        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return decodeURIComponent(sParameterName[1]);
                }
            }
        }
        
        function RetrieveValueHierarchy() {
            $.ajax({
                url: url_Tree + "GetSnapshotUsingPISDKHierarchy",
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({
                    "wellPath": wellPath, "parameterPath": parameterPath
                }),
                crossDomain: true,
                processData: false,
                contentType: 'application/json, charset=utf-8',
                success: function (q, w, e) {
                    alert(JSON.stringify(q));
                },
                error: function (q, w, e) {
                    alert("Ошибка: " + w);
                }
            });
        }

        function RetrieveValue() {
            $.ajax({
                url: url_Tree + "GetSnapshotUsingPIWebAPI",
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({
                    "wellPath": wellPath, "parameterPath": parameterPath
                }),
                crossDomain: true,
                processData: false,
                contentType: 'application/json, charset=utf-8',
                success: function (q, w, e) {
                    alert(JSON.stringify(q));
                },
                error: function (q, w, e) {
                    alert("Ошибка: " + w);
                }
            });
        }

        function RetrieveValuePISDK() {
            $.ajax({
                url: url_Tree + "GetSnapshotUsingPISDK",
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({
                    "wellPath": wellPath, "parameterPath": parameterPath
                }),
                crossDomain: true,
                processData: false,
                contentType: 'application/json, charset=utf-8',
                success: function (q, w, e) {
                    alert(JSON.stringify(q));
                },
                error: function (q, w, e) {
                    alert("Ошибка: " + w);
                }
            });
        }
   





       
    </script>

    <style type="text/css">
        h3 strong {
            color: blue;
        }
    </style>

    <h2>Методы:</h2>
 
    <p>
        <a href="#RetrieveValue">RetrieveValueHierarchy</a> - Получение текущих значений тегов c помощью PI WEB API обходом иерархии.

    </p>
    <p>
        <a href="#RetrieveValue">RetrieveValue</a> - Получение текущих значений тегов c помощью PI WEB API по пути.

    </p>

    <p>
        <a href="#RetrieveValuePISDK">RetrieveValuePISDK</a> - Получение текущих значений тегов c помощью PI SDK.

    </p>


    <br>
    <br>
    <br>
    <h2>Описания методов:</h2>

    <a name="RetrieveValueHierarchy"></a>
    <h3><strong>RetrieveValueHierarchy</strong> - Получение текущего значения тега (web api)</h3>
    <div>
        <table border="1">
            <caption>Входные параметры:</caption>

            <tr>
                <td>objectPath</td>
                <td>String</td>
                <td>Да</td>
                <td>Путь к скважине.</td>
            </tr>
            <tr>
                <td>paramPath</td>
                <td>String</td>
                <td>да</td>
                <td>Путь к параметру.</td>
            </tr>
        </table>
    </div>
    <br>

    <p>
        Пример:
        <button onclick="RetrieveValueHierarchy()">RetrieveValueHierarchy</button>
    </p>
    <br>
   
    
    <!------------------------------------------------->
    <a name="RetrieveValue"></a>
    <h3><strong>RetrieveValue</strong> - Получение текущего значения тега (web api)</h3>
    <div>
        <table border="1">
            <caption>Входные параметры:</caption>

            <tr>
                <td>objectPath</td>
                <td>String</td>
                <td>Да</td>
                <td>Путь к скважине.</td>
            </tr>
            <tr>
                <td>paramPath</td>
                <td>String</td>
                <td>да</td>
                <td>Путь к параметру.</td>
            </tr>
        </table>
    </div>
    <br>

    <p>
        Пример:
        <button onclick="RetrieveValue()">RetrieveValue</button>
    </p>
    <br>

        <!------------------------------------------------->

    <a name="RetrieveValuePISDK"></a>
    <h3><strong>RetrieveValuePISDK</strong> - Получение текущего значения тега (pi sdk)</h3>
    <div>
        <table border="1">
            <caption>Входные параметры:</caption>

            <tr>
                <td>objectPath</td>
                <td>String</td>
                <td>Да</td>
                <td>Путь к скважине.</td>
            </tr>
            <tr>
                <td>paramPath</td>
                <td>String</td>
                <td>да</td>
                <td>Путь к параметру.</td>
            </tr>
        </table>
    </div>
    <br>

    <p>
        Пример:
        <button onclick="RetrieveValuePISDK()">RetrieveValuePISDK</button>
    </p>
    <br>

</body>
</html>
